@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

@font-face {
    font-family: "norse-bold";
    src:
      url("fonts/norse-bold-webfont.woff2") format("woff2"),
      url("fonts/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

.container { 
    display: flex;
}

.left-container{
    position: relative;
}

img[src="images/image.jpg"]{
    height: 100vh;
}

.logo-background {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 20%;
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img[src="images/odin.png"]{
    height: 80%;
    width: auto;
}

.logo {
    font-family: norse-bold;
    color: #fff;
    font-size: 10rem;
    font-weight: 400;
}

.left-container p {
    position: absolute;
    color: #fff;
    opacity: 0.9;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9fafc;
    width: 100%;
}

.form-background {
    background-color: #fff;
    height: 33%;
    padding-left: 5%;
    padding-top: 2%;
    color: #1f2531; 
    margin-top: 5rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 9%;
}

label, input {
    display: block;
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
}

input {
    margin-top: 0.2rem;
    margin-bottom: 2.5rem;
    width: 35rem;
    height: 3rem;
    letter-spacing: normal;
    border-radius: 0.4rem;
    border: solid #E5E7EB 0.1rem;
}

.form-background p {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

button {
    margin-top: 4rem;
    margin-left: 7rem;
    margin-bottom: 3rem;
    width: 23rem;
    height: 5.5rem;
    background-color: #007aa9;
    border-radius: 0.7rem;
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
}

button + div{
    margin-left: 7rem;
    font-size: 1.8rem;
}

div > span {
    color: #007aa9;
    font-weight: bold;
}

.right-container > p {
    margin-left: 7rem;
    font-size: 2.8rem;
    max-width: 55ch;
}

.right-container p:nth-child(3){
    margin-top: 3rem;
}

a:visited {
    color:#fff;
}

input:focus{
    outline: solid 0.1rem #007aa9;
}

input:user-invalid{
    outline: solid 0.1rem red;
}
input:user-valid{
    outline: solid 0.1rem green;
}
